#videos {
  .group {
    margin-bottom: 60px;
  }
  .video {
    margin: 0 0 40px 0;

    .video-player-box,
    img {
      width: 100%;
      margin-bottom: 5px;
    }

    a {
      color: $black;
      text-decoration: none;
      display: block;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .group-header {
    display: flex;
    border-bottom: 5px solid $primary-color;
    margin-bottom: 30px;
    padding-bottom: 5px;
    color: $black;
    align-items: center;

    .logo-wrapper {
      margin-right: 15px;
      width: 70px;
      position: relative;
      .member-logo {
        max-width: 100%;
      }
    }
  }
}
